@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
   a:hover #FCFF46;
}

a {
   text-decoration: none;
}


.container {
   /* max-width: 1200px; */
   margin: 0 auto;
}

.logo {
   display: flex;
   align-items: center;
   margin: 0 10px;
}

.logo img {
   max-width: 50px;
}
.logo span {
   display: inline-block;
   margin: 0 20px;
   font-size: 20px;
   color: #FFDE30;
   letter-spacing: 1px;
   font-weight: 600;
}

.nav {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   background: #2a2c2f;
}

.menu-link {
   display: flex;
   list-style: none;
   margin: 0;
   padding: 0;
}
.activ {
   background: #DE0E00;
}
.menu-link__item {
   margin-right: 35px;
   font-size: 16px;
   letter-spacing: 1.5px;
   font-weight: 600;
   padding: 20px;
}

.menu-link__item a {
   text-decoration: none;
   color: #fff;
}
.menu-link__item a:hover {
   color:#FCFF46;
}


.fas {
   margin: 0 15px;
   color: #fff;
   font-size: 18px;
}

.tel a {
   color: #fff;
   font-weight: 700;
   font-size: 16px;
   letter-spacing: 1px;
}

.tel a:hover {
   color:#FCFF46;
}
.tel a:hover i {
   color:#FCFF46;
}

.header_set {
   display: flex;
   max-width: 1600px;
   margin: 0 auto;
   flex-wrap: nowrap;
}
.image_bg {
   max-width: 100%;
}

.image_bg img {
   max-width: 400px;
}

.info-bg {
   padding: 0px 20px;

}
.dost {
   background: #FFDE30;
   text-align: center;
   padding: 20px;
}
.sas img {
   max-width: 80px;
   width: 100%;
}
.dost h1 {
   font-size: 45px;
   color: #DE0E00;
   margin: 0 auto;
}
.dost h2 {
   color: #2a2c2f;
}

.info-bg h2 {
   font-size: 30px;
   text-align: left;
}

.info-bg p {
   font-size: 20px;
   margin-bottom: 0;
}

h2 {
   font-size: 30px;
   text-align: center;
   margin-bottom: 10px;
}



/* ============= доставка ========= */


.priem-link {
   display: flex;
   justify-content: center;
   margin: 30px 0;

}
.priem-link_item {
   width: 180px;
   color: #000;
   font-size: 20px;
   margin: 20px;
   padding: 1%;
   text-align: center;
   border: solid 1px rgb(179, 177, 177);
   border-radius: 5px;
   background: #FBFBFB;
   
}
.priem-link_item i {
   font-size: 25px;
   color: rgb(255, 255, 255);
   padding: 20px;
   background:  #DE0E00;
   text-align: center;
   border-radius: 50%;
   align-items: center;
   margin: 10px 0 20px;

}
.priem-link_item span {
   display: block;
   font-weight: 600;
   font-size: 20px;
}

/* ============ about_us ================ */
.about_us_block {
   text-align: center;
   max-width: 100%;
   height: 100vh;
}

/* ============ contakts ================ */
.contakts_block {
   text-align: center;
   max-width: 100%;

}
.contakts_block_foto {
   align-items: center;
}

.contakts_block_foto img {
   max-width: 600px;
   width: 100%;
}

.contakts_block_foto iframe {
   max-width: 600px;
   width: 100%;
   max-height: 322px;
}

/* ============ ФУТЕР ================ */

.row_footer {
   display: flex;
   background: #2a2c2f;
   min-height: 250px;
}

.footer {
   display: flex;
   margin: 0 auto;
   max-width: 1600px;
   flex-wrap: wrap;
   justify-content: center;


}

.rovno {
   min-width: 33.333333;
   min-width: 280px;
   border: 1px solid #FBFBFB;
   text-align: center;
   padding: 20px 50px 0;
}

.rovno h3 {
   color: #999;
}
/* ============ Медиа 1200 ============== */

@media (max-width: 1200px) {

   .image_bg img {
      max-width: 600px;
   }
   .info-bg h2 {
      margin: 20px 0;
   }
   .info-bg p {
      font-size: 20px;
   }
}

/* =========== Медиа 1040 ======================== */

@media (max-width: 1040px) {

   .tel-block {
      display: none;
   }
   .info-bg h2 {
      margin: 20px 0;
   }
   .info-bg p {
      font-size: 20px;
   }
   .priem-link {
      flex-wrap: wrap;
   }

}

/* =========== Медиа 998 ============== */

@media (max-width: 998px) {

   .header_set {
      display: block;
   }
   .image_bg {
      display: block;
      text-align: center;
   }
   .image_bg img {

      text-align: center;
      width: 100%;
   }
   .info-bg {
      text-align: center;
   }
   .info-bg h2 {
      text-align: center;
   }
}

/* =========== Медиа 750 ============== */

@media (max-width: 750px) {

   .nav {
      flex-wrap: wrap;
   }
   .logo {
      margin: 20px 10px;
   }
}

/* =========== Медиа 480 ============== */

@media (max-width: 480px) {

   .nav {
      display: block;
   }
   .menu-link {
      display: block;
   }
   .logo {
      margin: 0;
      padding: 10px;
   }
   .menu-link__item {
      margin: 0;
      text-align: center;
   }
   .dost {
      padding: 50px;
   }
   .dost h2 {
      padding: 20px 0;
      font-size: 30px;
   }
   h2 {
      padding: 10px 20px;
      margin: 0;
   }
   .rovno {
      padding: 0;
   } 
}